.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    margin-right: 40px;
}
.header-right a {
    color: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
}

h2 {
    padding-left: 150px;
    text-align: left;
    color: #F9FAF8;
    font-size: 24px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.left-card {
    color: #F9FAF8;
    padding-left: 150px;
    margin-right: 20px;
}

.left-card p {
    max-width: 400px;
}

.image {
    width: 30vw;
    height: 20vh;
    margin-right: 40px;
}
