.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-bottom: 50px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    margin-right: 200px;
}
.header-right a {
    color: #F9FAF8;
    font-size: 18px;
    text-decoration: none;
}

h2 {
    padding-left: 150px;
    text-align: left;
    color: #F9FAF8;
    font-size: 24px;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.left-card {
    color: #F9FAF8;
    padding-left: 150px;
    margin-right: 20px;
}

.left-card p {
    max-width: 400px;
}

.left-card button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: #F9FAF8;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 6px;
}

.image {
    width: 30vw;
    height: 20vh;
    margin-right: 200px;
}

.section-two {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.section-two .header-section-two {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-weight: bolder;
    margin-bottom: 25px;
}

.main-info-section-two {
    display: flex;
    justify-content: center;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 10px;
}

.subtext {
    max-width: 100px;
    text-align: left;
}

.main-info-section-two .card {
    border: 1px solid rgb(105, 160, 212);
    border-width: 3px;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.section-three {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #E5E7Eb;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-three .quote {
    text-align: left;
    max-width: 700px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 1px;
}

.section-three .author {
    text-align: right;
    margin-left: auto;
    margin-top: 1px;
    padding-right: 325px;
    font-weight: bold;
    color: #1F2937;
}

.section-four {
    display: flex;
    justify-content: center;
    text-align: center;
}

.blue-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3882F6;
    width: 75%;
    border-radius: 6px;
}

.left-side-blue-container {
    padding-left: 150px;
    color: #E5E7Eb;
}

.left-side-blue-container h3 {
    text-align: left;
}

.right-side-blue-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side-blue-container button {
    margin-top: 29px;
    margin-right: 100px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    color: #E5E7Eb;
    border-width: 2px;
    border-color: white;
}



